{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block bodyId %}profile-edit{% endblock %}
{% block title %}{{ 'layout.profile' | trans() }}{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('fos_user_profile_edit'), 'method': 'POST', 'attr': {'class': 'fos_user_profile_edit', 'data-abide': null}}) }}
  <div class="username-field">
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    <small class="error">{{ form_errors(form.username) }}</small>
  </div>

  <div class="email-field">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    <small class="error">{{ form_errors(form.email) }}</small>
  </div>

  <div class="password-field">
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password) }}
    <small class="error">{{ form_errors(form.current_password) }}</small>
  </div>

  <div class="submit-action">
    <input class="button radius" type="submit" value="{{ 'profile.edit.submit' | trans() }}"/>
  </div>
{{ form_end(form) }}
{% endblock content %}
