<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale }}">
<!--<![endif]-->
<head>
  <meta charset="{{ _charset }}"/>
  <meta name="viewport" content="width=device-width"  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <title>{% block title %}{{ 'app.title' | trans() }}{% endblock %}</title>

{% block metadata %}
  <!-- site metadata following -->
{% endblock metadata %}

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  <link rel="shortcut icon" href="{{ asset('favicon.png') }}">

{% block stylesheets %}
  <!-- style sheets following -->
{% endblock %}
</head>
<body id="{% block bodyId %}index{% endblock bodyId %}" class="{% block bodyClass %}index{% endblock bodyClass %}">
{% block body %}
  <!-- body -->
{% endblock body %}
{% block javascripts %}
  <!-- scripts following -->
{% endblock javascripts %}
</body>
</html>
