{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block bodyId %}registration{% endblock %}
{% block title %}{{ 'layout.register' | trans() }}{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('fos_user_registration_register'), 'method': 'POST', 'attr': {'class': 'fos_user_registration_register', 'data-abide': null}}) }}
  <div class="email-field">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    <small class="error">{{ form_errors(form.email) }}</small>
  </div>

  <div class="username-field">
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    <small class="error">{{ form_errors(form.username) }}</small>
  </div>

  <div class="password-field">
    {{ form_widget(form.plainPassword) }}
    <small class="error">{{ form_errors(form.plainPassword) }}</small>
  </div>

  <div class="locale-field">
    {{ form_label(form.locale) }}
    {{ form_widget(form.locale) }}
    <small class="error">{{ form_errors(form.locale) }}</small>
  </div>

  <div class="invitation-field">
    {{ form_label(form.invitation) }}
    {{ form_widget(form.invitation) }}
    <small class="error">{{ form_errors(form.invitation) }}</small>
  </div>

  <div class="form-action">
    <input class="button radius" type="submit" value="{{ 'registration.submit' | trans() }}"/>
  </div>
{{ form_end(form) }}
{% endblock content %}
