{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block bodyId %}change-password{% endblock %}
{% block title %}{{ 'layout.profile'|trans() }}{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('fos_user_change_password'), 'method': 'POST', 'attr': {'class': 'fos_user_change_password', 'data-abide': null}}) }}
  <div class="password-field">
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password) }}
    <small class="error">{{ form_errors(form.current_password) }}</small>
  </div>

  <div class="password-field">
    {{ form_widget(form.plainPassword) }}
    <small class="error">{{ form_errors(form.plainPassword) }}</small>
  </div>
  <div class="submit-action">
    <input class="button radius" type="submit" value="{{ 'change_password.submit'|trans }}"/>
  </div>
{{ form_end(form) }}
{% endblock content %}
